:root {
    --primary-text-color: #fff;
}

html {
    overflow-y: auto;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.section {
    flex: 1;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #000;
}

::-webkit-scrollbar {
    width: 1px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #222;
}

.menu-list a {
    font-weight: 500;
}

.menu-burger {
    width: 50px;
    height: 50px;
    padding: 10px;

    margin: 7px;
    color: var(--primary-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-burger:active {
    background: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.menu-burger:hover {
    transition: 0.2s;
}

.menu {
    position: absolute;
    left: -200px;
    transition: 0.5s;
}

.menu.is-visible {
    left: 24px;
    transition: 0.5s;
}

.title,
.hero.is-primary .title,
.subtitle,
.hero.is-primary .subtitle,
.menu-list a {
    color: var(--primary-text-color);
}

#gameCanvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#score {
    color: var(--primary-text-color);
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#teire {
    transition: opacity 1s ease-in-out;
}

.snaked,
#score.hidden {
    opacity: 0;
}

.game-over,
.game-over-score,
.game-over-highscore,
.game-over-retry {
    position: absolute;
    left: calc(50vw - 100px);
    right: calc(50vw - 100px);
    top: calc(10vh);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    z-index: 100;
}

.game-over-container {
    pointer-events: none;
    z-index: 99;
    transition: opacity 1s ease-in;
}

.game-over-container.hidden {
    opacity: 0;
}

.game-over-score {
    top: calc(10vh + 75px);
}

.game-over-highscore {
    top: calc(10vh + 75px + 10px);
}

.game-over-retry {
    left: calc(50vw - 50px);
    top: calc(10vh + 75px + 75px);
    pointer-events: auto;
}

.game-over-container.hidden .game-over-retry {
    pointer-events: none;
}

.game-over-cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: var(--primary-text-color);
    filter: invert(100%);
}

.no-click {
    pointer-events: none;
}

.marquee {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    transition: opacity .5s ease-in-out;
}

.marquee.hidden {
    opacity: 0;
}

a.subtitle {
    text-decoration: underline;
}

.teire-yep {
    margin-bottom: 5px !important;
}